html {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 20px;
    border-bottom: 1px solid rgb(114, 112, 112);
    text-align: center;
    font-family: 'Bruno Ace SC';
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.title {
    font-family: 'Times New Roman', serif;
    text-align: center;
    color: gray;
    margin: 21px 0px;
}

.subtitle {
    font-family: 'Times New Roman', serif;
    color: gray;
    border-left: 5px solid rgb(231, 146, 65);
    padding-left: 10px;
    margin-top: 30px;
}

a {
    color: rgb(196, 67, 7);
    padding: 20px;
}

a:hover {
    color:rgb(163, 160, 160);
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.flex-box-1 {
    min-width: 300px;
    max-width: 300px;
    margin: 40px 20px;
}

.flex-box-2 {
    min-width: 300px;
    margin: 40px 20px;
}

footer {
    padding: 10px;
    border-top: 1px solid rgb(109, 104, 104);
    font-family: 'Bruno Ace SC';
    text-align: center;
    flex: 0 0 auto;
}

.material-icons {
    background-color: rgb(255, 187, 0);
    border-radius: 30%;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.img-contact {
    background-color: gainsboro;
    text-align: center;
    padding: 5px;
    border-radius: 9px;
}

.img-contact:hover {
    background-color: rgb(99, 214, 64);
    text-align: center;
    padding: 5px;
    transition-duration: 0.3s;
    border-radius: 20px;
    transform: scale(1.03);
    transition-delay: 0.1s;
}

@font-face {
    src: url('../fonts/BrunoAceSC-Regular.ttf');
    font-family: 'Bruno Ace SC';
}